# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\flask新闻\FW249746-journalism-master\journalism\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
